<body data-aos="fade-up" data-aos-duration="800">

  <div  class="box-courses-wrapper">
    <!--Cabecera del plan-->
    <div class="cabecera-plan">
      <div class="portada-curso">
        <img  src="../../../assets/img/cursos/portada-plan-comidas.png" alt="">
      </div>
      <div class="info-cabecera">
        <h3>{{plan.nombre}}</h3>
        <p>
          <!--<fa-icon [icon]="faUsuario"></fa-icon><b>&nbsp; Por:</b> {{plan.id_profesional}}-->
        </p>
        <p>
          <br/>
          <fa-icon [icon]="faGratis"></fa-icon><b>&nbsp; Estado:</b> Gratis
        </p>
        <!--<p><fa-icon [icon]="faObjetivos"></fa-icon><b>&nbsp; Objetivos:</b> Bajar de peso</p>-->
        <p>
          <fa-icon [icon]="faUsuario"></fa-icon><b>&nbsp; Para:</b> + {{plan.edad_recomendada}} años
        </p>
        <br />
        <p><b>Descripción:</b></p>
        <div class="descripcion-curso">
          <span>{{plan.objetivos}}</span>
        </div>
      </div>
    </div>
    <br>
    <h2> Actividades del plan</h2>
    <br>
    <div class="detalle-actividaades-plan">
      <!--<div class="accordion" id="accordionExample">

        <div class="accordion-item" *ngFor="let element of detallePlan">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <fa-icon [icon]="faItem"></fa-icon> ㅤ{{element.dia}}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body" >
              <p>Actividad n° </p>
              <p>Descripción: </p>
              <br/>
            </div>
          </div>
        </div>

        
      </div>-->
        <app-actividades [id]="plan.id_planes"></app-actividades>
    </div>

    <!--Botón para suscribirse al plan-->
    <div class="footer-card">
      <div class="contenedor-boton">
        <input (click)="suscribirse()" type="submit" value="Suscribirme" class="btn-suscribirse">
      </div>
    </div>
  </div>
</body>