<div class="body">
    <div class="caja" id="screenPreguntas">
        <div class="scroll-bg">
            <div class="scroll-div">
                <div class="scroll-object">
                    <div class="mensajes-otros-usuarios"><b>jverac12: </b>Hola ¿qué hay para hoy?</div> 

                    <div class="mensajes-usuario-actual"><b>imanzabag: </b>Hola Jordan, las actividades diarias del curso</div> 

                    <div class="mensajes-otros-usuarios"><b>mauricio69: </b>Listo, ya las voy a completar</div> 
                    <div class="mensajes-otros-usuarios"><b>jordanfvc26: </b>Gracias</div> 

                    
                </div>
            </div>

            
            <div class="entrada-texto">
                <textarea placeholder="Escribe un mensaje . . ."></textarea>
                <button id="boton-enviar">
                    <fa-icon [icon]="fapaperplane" id="icono-chat"></fa-icon>
                </button>
            </div>
        </div>

    </div>
</div>