<body>

    <div class="boton-regresar">
        <input type="submit" value="Volver" class="btn-Volver" id="iniciar"> 
    </div>

    <div class="contendor-general" class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-4" width="150px" src="../../../assets/img/inicio/person_2.jpg">
                <br/>
                <span class="font-weight-bold">Jordan Vera</span>
                <span class="text-black-50">jverac12@uteq.edu.ec</span>
                <span> Cliente</span>
            </div>
            
            <!--<div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
                </div>
            </div>-->
        </div>
        
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 style="font-size: 30px;" class="text-right">Mi perfil</h4>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels" style="font-size: 16px;">Nombres:</label>
                        <input style="font-size: 14px;" type="text" class="form-control" placeholder="Jordan Fabian" [value]="datos.nombres">
                    </div>
                    <div class="col-md-6"><label class="labels" style="font-size: 16px;">Apellidos:</label>
                        <input style="font-size: 14px;" type="text" class="form-control" [value]="datos.apellidos" placeholder="Vera Coello">
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <label class="labels" style="font-size: 16px;">Email:</label>
                        <input style="font-size: 14px;" type="text" class="form-control" placeholder="usuario@uteq.edu.ec" [value]="datos.correo">
                    </div>
                    <!--<div class="col-md-12">
                        <label class="labels" style="font-size: 16px;">Contraseña:</label>
                        <input style="font-size: 14px;" type="password" class="form-control" value="">
                    </div>-->
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <label style="font-size: 16px;" class="labels">Estatura (metros):</label>
                        <input style="font-size: 14px;" type="number" class="form-control" placeholder="1.70" [value]="datos.talla">
                    </div>
                    <div class="col-md-6">
                        <label style="font-size: 16px;" class="labels">Peso (Kilogramos):</label>
                        <input style="font-size: 14px;" type="number" class="form-control" [value]="datos.peso" placeholder="55">
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-12">
                        <label style="font-size: 16px;" class="labels">Sexo:</label>
                        <select 
                            style="font-size: 14px;"
                            name="rol-profesional"
                            class="form-control"
                            formControlName="sexo">
                            <option value="seleccione-genero" selected disabled>Seleccione su género</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label style="font-size: 16px;" class="labels">Hábitos:</label>
                        <input style="font-size: 14px;" type="text" class="form-control" placeholder="Bebedor, lector, ciclismo.." [value]="datos.habitos">
                    </div>

                    <div class="col-md-12">
                        <label style="font-size: 16px;" class="labels">Alergias:</label>
                        <input style="font-size: 14px;" type="text" class="form-control" placeholder="Polvo, humo.." [value]="datos.alergias">
                    </div>
                    <div class="col-md-12">
                        <label style="font-size: 16px;" class="labels">Enfermedades:</label>
                        <input style="font-size: 14px;" type="text" class="form-control" placeholder="Migraña, gastritis.." [value]="datos.enfermedades">
                    </div>
                </div>

                <!--<div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>-->

                <div class="mt-5 text-center" style="width: 100%;" *ngIf="this.id==null">
                    <button style="width: 30%" class="btn btn-primary profile-button" type="button">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</body>