*{
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.contenedor-general{
    margin-top: -3.5%;
}

.row{
    width: 100%;
    margin-left: 0.1%;
    border-radius: 5px;
}

.boton-regresar{
    margin-top: -35px;
    background-color: rgba(146, 146, 146, 0.068);
    margin-bottom: 15px;
    text-align: end;
    width: 100%;
    border-radius: 5px;
}

.box-courses-wrapper {
    /*max-width: 1070px;
    margin: auto;
    padding: 1rem;*/
    margin-right: -2.5%;
}


.btn-Volver{
    display: inline-block;
    width: 7%;
    height: 30px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
}

.row{
    background-color: #cfffcf;
}

.col-md-12, label{
    font-size: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #42ab49
}

.profile-button {
    background: #151111;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #42ab49
}

.profile-button:focus {
    background: #42ab49;
    box-shadow: none
}

.profile-button:active {
    background: #42ab49;
    box-shadow: none
}

.back:hover {
    color: #42ab49;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #42ab49;
    color: #fff;
    cursor: pointer;
    border: solid 1px #42ab49
}