<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/src/assets/JS/niceadmin/style.css">
<div class="card-body">
    <h5 class="card-title">Clientes suscritos</h5>
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-top">
            <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div>
        </div>
        <div class="dataTable-container">
            <table class="table datatable dataTable-table">
                <thead>
                    <tr>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Nombre del plan: activate to sort column descending">
                            #</th>

                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Nombre del plan: activate to sort column descending">
                            Nombres</th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Nombre del plan: activate to sort column descending">
                            Apellidos</th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Nombre del plan: activate to sort column descending">
                            Sexo</th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Nombre del plan: activate to sort column descending">
                            Plan</th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Nombre del plan: activate to sort column descending">
                            Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clients; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{cliente.nombres}}</td>
                        <td>{{cliente.apellidos}}</td>
                        <td>{{cliente.sexo}}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#detallesCliente" (click)="mostrarPerfil(cliente.id_cliente)">Ver
                                Información</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="detallesCliente" tabindex="-1" aria-labelledby="detallesClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="cargarDatos">
                    <app-perfil-usuario [id]="this.idUsuario"></app-perfil-usuario>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script src="/src/assets/JS/niceadmin/main.js"></script>