
    <div class="container">
        <h4 id="mensaje-bienvenida">Hola, bienvenido a HealthLife</h4>
        <div class="imagenes-portada" data-aos="fade-up" data-aos-duration="1100">
            <img style="width: 100%; height: 10%;" src="../../../assets/img/inicio/fondo-google-play.jpg" alt="imagen-inicio-nutricion">
        </div>
        <br />

        <h4 id="mensaje-bienvenida" data-aos="fade-up" data-aos-duration="1100">Algunos ideas recomendadas para ti:</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" data-aos="fade-up" data-aos-duration="1100">
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/frutas-1552246920.jpg?crop=1.00xw:0.753xh;0,0.105xh&resize=640:*">

                    <div class="card-body">
                        <p class="card-text">Dentro de esta sección se detallan los pasos para elabrar comidas y batidos a base de frutas buenas en vitaminas que aporten a tu alimentación.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        src="https://t2.uc.ltmcdn.com/es/posts/1/0/4/beneficios_del_fitness_52401_1_600.jpg">

                    <div class="card-body">
                        <p class="card-text">Aquí podrás encontrar consejos sobre como realizar estiramientos para empezar con los ejercicios que se detallan en los planes.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        src="https://www.sabervivirtv.com/medio/2022/02/14/frutas-y-verduras-no-solo-importa-la-cantidad-tambien-la-variedad_34c75822_1280x720.jpg">

                    <div class="card-body">
                        <p class="card-text">Dentro de esta sección puedes obtener información sobre como hacer comidas basadas en verduras y vegetales para tu buena alimentación.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <br/>
        <h4 id="mensaje-bienvenida" data-aos="fade-up" data-aos-duration="1100">Algunos planes recomendados para ti:</h4>
        <app-planes data-aos="fade-up" data-aos-duration="1100"></app-planes>
    </div>
