<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://media.revistagq.com/photos/5d35929de887bb000828e8f3/3:2/w_3999,h_2666,c_limit/GettyImages-982408932-(1).jpg">

            <div class="card-body">
              <p class="card-text">En esta sección puedes encontrar consejos que te ayudarán a crear un buen plan para ejercicios de pectorales los cuales verán tus usuarios.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=5O--03Wm3Ag" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>                 
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://vitalia.es/media/tdvp3y1j/nutricion.jpg?anchor=center&mode=crop&width=720&height=400&rnd=132380030194430000">

            <div class="card-body">
              <p class="card-text">Aquí puedes encontrar la mejor información para crear cursos que combinen los vegetales con alimentos que contienen grasas naturales.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=zUWgne4Elbs" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>                
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://cdn.static.aptavs.com/imagenes/ejercicios-basicos-de-gimnasio-cuales-son-y-su-importancia/ejercicios-basicos-de-gimnasio_905x603.jpg">
            <div class="card-body">
              <p class="card-text">En este apartado puedes encontrar tips que te ayudarán a crear un buen plan de ejercicios básicos de gym para todos tus usuarios.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=HAvUg6VLQZc" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>                 
                </div>
                <small class="text-muted">7 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/frutas-1552246920.jpg?crop=1.00xw:0.753xh;0,0.105xh&resize=640:*">

            <div class="card-body">
              <p class="card-text">Dentro de esta sección puedes encontrar consejos para crear planes con frutas, para que tus usuarios consuman en el desayuno.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=WJbufGEAgsE" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://t2.uc.ltmcdn.com/es/posts/1/0/4/beneficios_del_fitness_52401_1_600.jpg">

            <div class="card-body">
              <p class="card-text">Aquí podrás encontrar consejos sobre como crear los mejores planes para realizar los estiramientos de músculos y mostrarlos a tus usuarios.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=Lm3HYH2iAlc" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.sabervivirtv.com/medio/2022/02/14/frutas-y-verduras-no-solo-importa-la-cantidad-tambien-la-variedad_34c75822_1280x720.jpg">

            <div class="card-body">
              <p class="card-text">Dentro de esta sección puedes obtener información sobre como crear tus planes basados en alimentos como verduras y vegetales.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/rmlNt6LjzeE" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      
      </div>
    </div>
  </div>