<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2> <img src="../../../assets/img/inicio/PS_Logo_Proyecto.jpeg"> <span>HealthLife</span></h2>
        </div>
        
        <!--Opciones del menú lateral-->
        <div class="sidebar-menu">
            <ul>
                <li (click)="cambiarIndice(0)">
                    <a> <fa-icon [icon]="faHome"></fa-icon>
                    <span>  &nbsp;Inicio</span> </a>
                </li>
                <li (click)="cambiarIndice(1)">
                    <a> <fa-icon [icon]="faPlanAlimenticio"></fa-icon>
                    <span>  &nbsp;Planes Alimenticios</span></a>
                </li>
                <li (click)="cambiarIndice(2)">
                    <a> <fa-icon [icon]="faPlanEjercicio"></fa-icon>
                    <span>  &nbsp;Planes Ejercicios</span></a>
                </li>
                <li (click)="cambiarIndice(3)">
                    <a> <fa-icon [icon]="faProfesionales"></fa-icon>
                    <span>  &nbsp;Profesionales</span></a>
                </li>
                <li (click)="cambiarIndice(4)">
                    <a> <fa-icon [icon]="faEstadisticas"></fa-icon>
                    <span>  &nbsp;Estadísticas</span></a>
                </li>
                <li (click)="cambiarIndice(5)">
                    <a> <fa-icon [icon]="faChat"></fa-icon>
                    <span>  &nbsp;Chat</span></a>
                </li>
                <li (click)="cambiarIndice(6)">
                    <a> <fa-icon [icon]="faExperiencias"></fa-icon>
                    <span>  &nbsp;Experiencias</span></a>
                </li>
            </ul>
            <div class="derechos-reservados">
                <p>HealthLife © 2022</p>
            </div>
        </div>
    </div>


    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <fa-icon [icon]="faBars" id="logo-menu"></fa-icon>
                </label> 
            </h2>

            <div class="action">
                <div class="perfil">
                    <img src="../../../assets/img/inicio/person_2.jpg" alt="foto-perfil-usuario">
                </div>
                <div class="info-usuario"  onclick="mostrarMenu()">
                    <span>ㅤ{{nomUsuario}} <fa-icon [icon]="faFlechaAbajo"></fa-icon></span>
                </div>

                <div class="menu-perfil">
                    <h3>{{nomUsuario}}<br/><span>{{rolUsuario}}</span></h3>
                    <ul>
                        <li><fa-icon [icon]="faUserPerfil"></fa-icon><a routerLink="/perfil">Mi perfil</a></li>
                        <li><fa-icon [icon]="faConfiguracion"></fa-icon><a routerLink="/configuracion">Configuración</a></li>
                        <li><fa-icon [icon]="faCerrarSesion"></fa-icon><a routerLink="/login">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main [ngSwitch]="indice">
            <app-detalle-plan *ngSwitchDefault></app-detalle-plan>
            <app-planes-alimenticios *ngSwitchCase="1"></app-planes-alimenticios>
            <app-planes-ejercicios *ngSwitchCase="2"></app-planes-ejercicios>
        </main>
    </div>
</body>