<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fas fa-graduation-cap"></span><span>HealthLife</span></h2>
        </div>
        
        <!--Opciones del menú lateral-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active"> <span class="fas fa-home"></span>
                    <span>Inicio</span> </a>
                </li>
                <li>
                    <a href=""> <span class="fas fa-chart-bar"></span>
                    <span>Estadísticas</span></a>
                </li>
                <li>
                    <a href=""> <span class="fas fa-users"></span>
                    <span>Chat</span></a>
                </li>
                <li>
                    <a href=""> <span class="fas fa-comments"></span>
                    <span>Planes</span></a>
                </li>
                <li>
                    <a href=""> <span class="fas fa-crown"></span>
                    <span>Mis logros</span></a>
                </li>
                <li>
                    <a href=""> <span class="fas fa-sign-out-alt"></span>
                    <span>Cerrar sesión</span></a>
                </li>
            </ul>
        </div>
    </div>


    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="fas fa-bars" id="logo-menu"></span>
                </label> 
            </h2>

            <div class="user-wrapper">
                 <!--La imagen que aparece aquí debe ser traida de la BD con el usuario logueado-->
                <img src="../../../assets/img/inicio/person_2.jpg" width="40px" height="40px" alt="foto-usuario-logueado">
                <div>
                    <!--El nombres que aparecerá en este h4 debe ser traido de la BD con el usuario logueado-->
                    <h4>Jordan Vera</h4>
                </div>
            </div>
        </header>

        <main>
            <!--Fila 1 de los módulos-->
            <div class="tarjetas">
                <div class="tarjetas-simples">
                    <div>
                        <h1>Piernas</h1>
                        <span>Rutina extrema de piernas</span>
                    </div>
                    <div>
                        <span class="fas fa-info-circle"></span>
                    </div>
                </div>

                <div class="tarjetas-simples">
                    <div>
                        <h1>Brazos</h1>
                        <span>Rutina completa de brazos</span>
                    </div>
                    <div>
                        <span class="fas fa-check-circle"></span>
                    </div>
                </div>

                <div class="tarjetas-simples">
                    <div>
                        <h1>Desayunos</h1>
                        <span>Desayunos altos de calorías</span>
                    </div>
                    <div>
                        <span class="fas fa-redo-alt"></span>
                    </div>
                </div>
            </div>

            <!--Tablas-->
            <div class="recent-grind">
                <div class="projects">
                    <div class="tarjeta">
                        <div class="tarjeta-header">
                            <h3>Módulos recientes</h3>

                            <button>Mostrar todo <span class="fas fa-arrow-right">
                            </span></button>
                        </div>

                        <div class="tarjeta-body">                            
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Apellido</td>
                                            <td>Estado</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--Aquí van los datos traidos de la BD-->
                                        <tr>
                                            <td>Jordan Fabian</td>
                                            <td>Vera Coello</td>
                                            <td>
                                                <span class="status green"></span>Bueno
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jordan Fabian</td>
                                            <td>Vera Coello</td>
                                            <td>
                                                <span class="status red"></span>Malo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jordan Fabian</td>
                                            <td>Vera Coello</td>
                                            <td>
                                                <span class="status yellow"></span>Intermedio
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </main>

    </div>
</body>