<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2> <img src="../../../assets/img/inicio/PS_Logo_Proyecto.jpeg"> <span>HealthLife</span></h2>
        </div>
        
        <!--Opciones del menú lateral-->
        <div class="sidebar-menu">
            <ul>
                <li *ngFor="let element of menuOpciones; let i = index" (click)="element? cambiarIndice(i) : cambiarIndice(-1)" [ngClass]="!element.habilitado ? 'disable': ''">
                    <a> <fa-icon [icon]="element.icono"></fa-icon>
                    <span>  &nbsp;{{element.nombre}}</span> </a>
                </li>
            
            </ul>
            <div class="derechos-reservados">
                <p>HealthLife © 2022</p>
            </div>
        </div>
    </div>


    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <fa-icon [icon]="faBars" id="logo-menu"></fa-icon>
                    <span id ="fecha">ㅤ{{fecha}}</span>
                </label> 
            </h2>

            <div class="action">
                <div class="perfil">
                    <img src="../../../assets/img/inicio/person_2.jpg" alt="foto-perfil-usuario">
                </div>
                <div class="info-usuario"  onclick="mostrarMenu()">
                    <span>ㅤ{{nomUsuario}} <fa-icon [icon]="faFlechaAbajo"></fa-icon></span>
                </div>

                <div class="menu-perfil">
                    <h3>{{nomUsuario}}<br/><span>{{rolUsuario}}</span></h3>
                    <ul>
                        <li (click)="cambiarIndice(8)"><fa-icon [icon]="faUserPerfil"></fa-icon><a routerLink="/perfil">Mi perfil</a></li>
                        <li><fa-icon [icon]="faConfiguracion"></fa-icon><a routerLink="/configuracion">Configuración</a></li>
                        <li><fa-icon [icon]="faCerrarSesion"></fa-icon><a routerLink="/login">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main [ngSwitch]="indice">
            <!--*ngIf="rolUsuario == 'cliente'; else profesional"-->
            <div *ngIf="this.rolUsuario == 'cliente'; else profesional">
                <h1 *ngSwitchCase="0" id="mensaje-bienvenida">Hola, bienvenido a HealthLife</h1>
                <app-planes *ngSwitchCase="0"></app-planes>
                <!-- <app-detalle-plan *ngSwitchCase="0"></app-detalle-plan> -->
                <app-planes *ngSwitchCase="1" [tipo]="2"></app-planes>
                <app-planes *ngSwitchCase="2" [tipo]="1"></app-planes>
                <app-perfil-usuario *ngSwitchCase="8"></app-perfil-usuario>
                <app-profesionales *ngSwitchCase="3"></app-profesionales>
                <app-mis-planes *ngSwitchCase="4"></app-mis-planes>
                <app-estadisticas *ngSwitchCase="5"></app-estadisticas>
                <app-chat *ngSwitchCase="6"></app-chat>
            </div> 
            
            <ng-template #profesional>
                <h1 *ngSwitchCase="0"> Inicio </h1>
                <app-planes-admin-profesionales *ngSwitchCase="1"></app-planes-admin-profesionales>
                <app-perfil-profesional *ngSwitchCase="2"></app-perfil-profesional>
                <app-clientes-admin-profesionales *ngSwitchCase="3"></app-clientes-admin-profesionales>
            </ng-template>
            <h1 *ngSwitchDefault>No implementado</h1>

        </main>
    </div>
</body>