
<body>
    <div class="box-courses-wrapper" *ngIf="!detalle; else detallesplan ">
       <!--El que se debe esconder al poner el detalle--> 
        <div class="box-row" *ngFor="let element of misPlanes" data-aos="fade-up" data-aos-duration="1100">
            <div class="box-info">
                <div class="course">
                    <div class="course-img">
                        <img src="../../../assets/img/cursos/verduras.jpg" alt="">
                    </div>

                    <div class="course-detail">
                        <div class="course-title">
                            <p><a href="#"> <b>{{element.nombre}}</b></a></p>
                            </div>
                        <div class="course-author">
                            <p><b>Por:</b> {{element.id}}</p>
                        </div>
                        <div class="course-desc">
                            <p>{{element.objetivos}}</p>
                        </div>
                    </div>

                    <div class="course-info">
                        <div class="item">
                            <fa-icon [icon]="faReloj"></fa-icon> 7 <span class="unit">Días</span>
                        </div>
                        <div class="item">
                            <fa-icon [icon]="faVerificado"></fa-icon><span class="unit"> Verificado</span>
                        </div>
                        <div class="item">
                            <fa-icon [icon]="faGratis"></fa-icon><span class="unit"> Gratis</span>
                        </div>
                    </div>                 
                </div>

                <div class="footer-card">
                    <div class="contenedor-etiquetas">
                        <p *ngFor="let element2 of element.etiquetas"> {{element2}} </p>
                        
                        
                    </div>
                    <div class="contenedor-boton">
                        <input (click)="cambiarComponente(true); cambiarIndice(element)" type="button" value="Ver Actividades  ▶" class="btn-verCurso">
                    </div>       
                </div>
            </div>
        </div>

        
    </div>

    <ng-template #detallesplan>
        <div class="boton-regresar" (click)="cambiarComponente(false)">
            <input type="submit" value="Volver" class="btn-Volver" id="iniciar"> 
        </div>
        <app-detalle-plan [plan]="plan"></app-detalle-plan>
    </ng-template>

</body>