<body>
    <div class="box-courses-wrapper">
      <div class="circular-progress">
        <div class="value-container">0%</div>
      </div>

      <div class="circular-progress">
        <div class="value-container">0%</div>
      </div>

      <div class="circular-progress">
        <div class="value-container">0%</div>
      </div>
    </div>

    <div class="box-courses-wrapper">
      <div class="circular-progress2">
        <div class="value-container2">Curso 1</div>
      </div>

      <div class="circular-progress2">
        <div class="value-container2">Curso 2</div>
      </div>

      <div class="circular-progress2">
        <div class="value-container2">Curso 3</div>
      </div>
    </div>

  </body>